* {
	all: unset;
	display: revert;
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
div {
	display: block;
	position: relative;
	* {
		position: relative;
	}
}
svg,
path {
	all: revert-layer;
}
