// Color
$color-black: #000000;
$color-white: #ffffff;
$color-gray-900: #0b0b0c;
$color-gray-800: #191a1c;
$color-gray-700: #242426;
$color-gray-600: #3f4044;
$color-gray-500: #3f4965;
$color-gray-400: #7f828c;
$color-gray-300: #8d8f99;
$color-gray-200: #a8acb8;
$color-gray-100: #ced0d8;
$color-gray-50: #e7e9ef;
$color-gray-25: #f4f5f9;
$color-info-200: #4172c5;
$color-info-100: #4787f3;
$color-info-50: #91b6f4;
$color-info-25: #f5f9ff;
$color-error-200: #d92d20;
$color-error-100: #f93232;
$color-error-50: #ffa4a3;
$color-error-25: #ffe6e3;
$color-warning-200: #d6900a;
$color-warning-100: #ffb82e;
$color-warning-50: #ffe19a;
$color-warning-25: #fff7e3;
$color-success-200: #109356;
$color-success-100: #12b76a;
$color-success-50: #a6f4c5;
$color-success-25: #f6fef9;

$color-primary-200: #124687;
$color-primary-100: #0967ad;
$color-primary-50: #1087c9;
$color-primary-25: #5ab8e7;

$color-facebook: #1877f2;
$color-instagram: #845ddb;
$color-twitter: #00acee;
$color-youtube: #c4302b;
$color-linkedin: #0077b5;
$color-whatsapp: #25d366;
$color-viber: #675ca8;

$color-pdf: #bd0f17;
$color-word: #1b56b4;
$color-excel: #18753f;
$color-powerpoint: #bc3922;
$color-archive: #fdd977;

:root {
	// Font family
	--font-family-primary: 'helvetica';
	--font-family-secondary: 'helveticaCaps';
	// Font size
	--font-size-xxs: 10px;
	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size-md: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 24px;
	--font-size-2xl: 30px;
	--font-size-3xl: 40px;
	--font-size-4xl: 52px;
	// Line height
	--line-height-xs: 110%;
	--line-height-sm: 120%;
	--line-height-md: 140%;
	// Box Shadow
	--box-shadow-sm: 0px 10px 20px #{$color-black}05;
	--box-shadow-md: 0px 10px 15px -5px #{$color-black}10, 0px 5px 5px #{$color-black}05;
	--box-shadow-lg: 0px 25px 50px -10px #{$color-black}20;
	--box-shadow-xl: 0px 30px 65px -10px #{$color-black}15;
	// Border radius
	--border-radius-sm: 5px;
	--border-radius-tooltip: 8px;
	--border-radius-md: 10px;
	--border-radius-lg: 20px;
	// Form
	--form-height: 50px;
	--form-font-size: var(--font-size-sm);
	//-- Button
	--button-padding-x: 30px;
	--button-padding-alt: 25px;
	--button-border: 1px solid #{$color-primary-200};
	--button-icon-margin: 10px;
	--button-outline-size: 1px;
	--button-outline-offset: 2px;
	//-- Input Text
	--input-border: 1px solid #{$color-gray-50};
	--input-border-active: #{$color-gray-100};
	--input-bottom-border: 1px solid #{$color-gray-50};
	--input-border-radius: var(--border-radius-sm);
	//Input Checkbox
	--sm-checkbox-size: 16px;
	--md-ckeckbox-size: 20px;
	--sm-ckeckbox-br: 4px;
	--md-ckeckbox-br: 6px;
	--border-radius-half: 50%;
}
