div.breadcrumbs {
	margin: 20px 0;
	ul {
		@extend .no-list;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: var(--font-size-sm);
		li {
			display: flex;
			align-items: center;
			margin: 5px 10px 5px 0;
			color: $color-gray-700;
			&:last-child {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
			a {
				margin-right: 10px;
				color: $color-primary-200;
				&:hover {
					color: $color-gray-700;
				}
			}
			&:after {
				display: block;
				color: $color-gray-700;
				content: '/';
			}
		}
	}
}
