// Main menu
nav.navigation {
	@media (max-width: 1024px) {
		display: none;
	}
	> ul {
		@extend .no-list;
		display: flex;
		> li {
			margin-right: 25px;
			padding: 10px 0;
			&:last-child {
				margin-right: 0;
			}
			> a {
				color: $color-gray-300;
				font-size: var(--font-size-md);
				font-family: var(--font-family-primary);
				font-weight: 700;
				text-transform: uppercase;
			}
			&.active,
			&:hover {
				> a {
					color: $color-primary-200;
				}
			}
			ul {
				display: none;
				position: absolute;
				width: 220px;
				left: -10px;
				top: 100%;
				padding: 15px 20px;
				background-color: $color-gray-100;
				border-radius: 5px;
				@media (max-width: 1200px) {
					padding: 15px 20px;
				}
				&.rtl {
					left: auto;
					right: -10px;
				}
				li {
					position: relative;
					padding: 0;
					a {
						display: block;
						position: relative;
						padding: 7px 0;
						color: $color-gray-400;
						font-size: 12px;
					}
					&.active,
					&:hover {
						> a {
							color: $color-primary-200;
						}
					}
					ul {
						left: 100%;
						top: -15px;
						&.rtl {
							left: auto;
							right: 100%;
						}
					}
					&:hover {
						ul {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
			&:hover {
				> ul {
				}
			}
		}
	}
}
// Responsive menu
div.resp_menu_toggle {
	@extend .trans-all-4;
	display: none;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	right: 20px;
	background-color: $color-gray-800;
	border-radius: 5px;
	cursor: pointer;
	z-index: 1000;
	@media (max-width: 1024px) {
		display: block;
	}
	div {
		position: absolute;
		width: 15px;
		height: 1px;
		top: 50%;
		right: 10px;
		background-color: $color-white;
		&:first-child {
			margin-top: -6px;
		}
		&:last-child {
			margin-top: 6px;
		}
	}
	&.resp_menu_toggled {
		div {
			&:first-child,
			&:last-child {
				opacity: 0;
			}
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}
div.resp_menu {
	@extend .trans-4;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	padding: 10px;
	transform: translateY(-100%);
	background-color: $color-gray-800;
	&.opened {
		transform: translateY(0);
	}
	div.resp_menu_ul {
		flex: 1;
		overflow-y: auto;
		> ul {
			@extend .no-list;
			width: 100%;
			> li {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: relative;
				padding: 10px 0;
				&:last-child {
					border-bottom: none;
				}
				div.parent_menu {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					div.plus_minus {
						@extend .trans-all-4;
						width: 20px;
						height: 20px;
						margin-left: 5px;
						cursor: pointer;
						div.plus,
						div.minus {
							position: absolute;
							width: 11px;
							height: 1px;
							background-color: $color-white;
							left: 50%;
							top: 10px;
							transform: translateX(-50%);
						}
						div.minus {
							transform: translateX(-50%) rotate(90deg);
						}
						&.plus_minus_toggled {
							div.minus {
								transform: translateX(-50%) rotate(0deg);
							}
						}
					}
				}
				a {
					display: block;
					text-align: center;
					color: $color-white;
				}
				ul {
					display: none;
					width: 100%;
					padding: 10px 0 0 5px;
					li {
						position: relative;
						padding-bottom: 5px;
						a {
							display: block;
							text-align: center;
							color: $color-white;
						}
						div.plus_minus {
							height: 20px;
							top: 0px;
							div.plus,
							div.minus {
								top: 10px;
							}
						}
					}
				}
			}
		}
	}
}
